.item{
    padding: 7px;
    background-color: #EDEDED;
    border-radius: 30px;
    &__wrapper{
        background-color: white;
        border-radius: 30px;
        padding: 7px;  
        max-width: 350px;
        display: flex;
        flex-direction: column;
        gap: 11px;
        padding-bottom: 18px;
    }
    &__box{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 75px;
        font-family: 'TTFirsNeue-Regular';
        font-size: 18px;
    }
    &__btn{
        display: flex;
        margin: 0 auto;
        align-items: center;
        background-color: black;
        color: white;
        border-radius: 5px;
        padding: 12px 80px;
        font-family: 'TTFirsNeue-Regular';
        font-size: 18px;
        border: none;
        outline: none;
        cursor: pointer;
        transition: 0.25s;
    }
}

@media (max-width: 400px) {
    .item{
        width: 90%;
        margin: 0 auto;
    }
}
@media (max-width: 370px) {
    .item{
        &__box{
            gap: 40px;
        }
    }
}