.auth{
	padding-bottom: 100px;
	&__box{
		
		width: 25%;
		margin: 0 auto;
		padding: 30px;
		border-radius: 40px;
		background-color: #FFFFFF;
	}
	&__headerButtons{
		display: flex;
		justify-content: space-between;
		margin-bottom: 30px;
	}
	&__headerButton{
		border: none;
		background-color: transparent;
		font-family: TTFirsNeue-Regular;
		font-size: 28px;
		color: #7F7F7F;
		text-decoration: underline;
		cursor: pointer;
		outline: none;
		&.active{
			color: #000000;
			text-decoration: none;
		}
	}
	&__input{
		display: flex;
		flex-direction: column;
		& label{
			font-family: TTFirsNeue-Regular;
			font-size: 15px;
		}
		& input{
			width: 100%;
			padding: 12px 20px;
			margin: 10px 0;
			display: inline-block;
			border: 1px solid #ccc;
			box-sizing: border-box;
			background-color: #DEDEDE;
			border-radius: 5px;
			outline: none;
		}
	}
	&__forgetPassword{
		display: block;
		margin-left: auto;
		background-color: transparent;
		border: none;
		outline: none;
		text-decoration: underline;
		font-family: TTFirsNeue-Regular;
    	font-size: 15px;
	}
	&__btn{
		margin-top: 20px;
		width: 100%;
		padding: 12px 0px 12px 0px;
		background-color: #0F0F0F;
		color: #FFFFFF;
		font-family: TTFirsNeue-Regular;
		font-size: 18px;
		border: 0px;
		border-radius: 5px;		
		cursor: pointer;
		outline: none;
	}
}