.wrapper {
  max-width: 900px;
  margin: 0 auto;
  padding: 60px 20px;
  padding-top: 0;
  text-align: center;
  font-family: "TTFirsNeue-Light";
}

.badge {
  display: inline-block;
  padding: 6px 14px;
  margin-bottom: 25px;
  border-radius: 20px;
  background: #fcc63b;
  font-size: 12px;
  letter-spacing: 1px;
  box-shadow: 0 0 10px rgb(251 180 0 / 90%), 0 0 25px rgb(255 160 16 / 62%), inset 0 0 8px rgba(255, 255, 255, 0.15);
  color: #fff;
}

.title {
  font-size: 42px;
  font-weight: 800;
  line-height: 1.2;

  background: linear-gradient(
    -90deg,
    #f7e523 0%,   // светлый жёлтый сверху
    #fbb800 50%,  // оранжевый центр
    #f7c00d 100%  // тёплый тёмный низ
  );

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  /* мягкое тёплое свечение */
  filter: drop-shadow(0 4px 12px rgba(251, 133, 0, 0.35));
}

.subtitle {
  margin-top: 15px;
  font-size: 15px;
  color: #000;
}

.alert {
  margin: 40px auto;
  padding: 25px;
  max-width: 600px;
  border-radius: 14px;
  background: #ffc6b5;
  border: 1px solid #F97316;
  box-shadow: 0 0 30px rgba(255, 77, 77, 0.15);

  p {
    margin-bottom: 10px;
    line-height: 1.5;
  }

  span {
    font-size: 13px;
  }
}

.alertTitle {
  font-size: 26px;
  margin-bottom: 10px;
  color: #ff4d4d;
}

.courses {
  margin-top: 50px;
  padding: 35px 25px;
  border-radius: 18px;
  background: #fcc63b96;
  box-shadow: 0 0 40px rgb(255 176 77 / 65%);

  h2 {
    margin-bottom: 25px;
    font-size: 22px;
    color: #000000;
  }
}

.courseList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  gap: 12px;
  margin-bottom: 30px;

  span {
    padding: 10px;
    font-size: 13px;
    border-radius: 10px;
    background: #f9b74c;
    border: 1px solid #ff8754;
    color: #000000;
    font-weight: 600;
  }
}

.button {
  display: inline-block;
  padding: 16px 30px;
  border-radius: 14px;
  text-decoration: none;
  font-weight: 600;
  color: #000000;
  background: linear-gradient(135deg, #fefc6b, #f7e957);
  box-shadow: 0 0 25px rgba(171, 136, 22, 0.5);
  transition: transform 0.2s ease, box-shadow 0.2s ease;

  &:hover {
    transform: translateY(-2px);
    box-shadow: 0 0 40px rgba(134, 74, 1, 0.8);
  }
}

.footer {
  margin-top: 50px;
  font-size: 13px;
  color: #000000;
}
