.point{
    display: flex;
    align-items: flex-start;
    gap: 10px;
    width: 30%;
    position: relative;
    &::after{
        content: '';
        height: 0.1px;
        width: 90%;
        position: absolute;
        background-color: rgb(197, 195, 195);
        right: 0;
        top: -10%;
        z-index: 9;
    }
    &::before{
        content: '✔';
        background-color: #fcc63b;
        color: white;
        border-radius: 50%;
        width: 25px;
        height: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
    }
    &__ok{
        background-color: #fcc63b;
        color: white;
        border-radius: 50%;
        width: 40px;
        height: 26px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__text{
        font-family: "TTFirsNeue-Light";
        white-space: normal;
        font-size: 20px;
        color: black;
    }
}

@media (max-width: 870px) {
    .point{
        width: 80%;
        justify-content: flex-start;
        &::after{
            display: none;
        }
    }
}
@media (max-width: 380px) {
    .point{
        &::before{
            font-size: 14px;
        }
    }
}