@import url('./pages/Admin/Admin.scss');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
}
li{
  list-style: none;
}
html, body{
  height: 100%;
  background-color: #F8F8F8;
}
.app{
  display: flex;
  flex-direction: column;
  min-height: 100%;
  position: relative;

  &__circle,
  &__circle--reload {
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 5;
    width: 60px;
    height: 60px;
    & img{
      width: 100%;
    }
  }

  &__circle--reload{
    border: none;
    background: none;
    bottom: 120px;
    cursor: pointer;
  }
  
}
.auth__tg {
  display: flex;
  justify-content: center;
  background-color: transparent;
}
@media (max-width: 1000px) {
  .app__circle,
  .app__circle--reload {
    bottom: 30px;
    right: 30px;
    width: 45px;
    height: 45px;
  }
  .app__circle--reload{
    bottom: 85px;
  }
}
@media (max-width: 500px) {
  .app__circle,
  .app__circle--reload {
    bottom: 15px;
    right: 15px;
    width: 45px;
    height: 45px;
  }
  .app__circle--reload{
    bottom: 65px;
  }
}
#root{
  height: 100%;
}
@font-face {
  font-family: 'TTFirsNeue-Light';
  src: url('./assets/fonts/TTFirsNeue/TT\ Firs\ Neue\ Trial\ Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'TTFirsNeue-Regular';
  src: url('./assets/fonts/TTFirsNeue/TT\ Firs\ Neue\ Trial\ Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'TTFirsNeue-Medium';
  src: url('./assets/fonts/TTFirsNeue/TT\ Firs\ Neue\ Trial\ Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'TTFirsNeue-DemiBold';
  src: url('./assets/fonts/TTFirsNeue/TT\ Firs\ Neue\ Trial\ DemiBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'TTFirsNeue-Bold';
  src: url('./assets/fonts/TTFirsNeue/TT\ Firs\ Neue\ Trial\ Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}