.account{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: -50px;

	@media (max-width: 950px) {
		margin-top: 0;
	}

	&__title {
		font-family: "TTFirsNeue-Regular";
		margin-bottom: 20px;
		font-size: 34px;
	}

	&__yourId {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 10px;
		padding: 10px;
		margin-bottom: 40px;
		border-radius: 12px;
		border: 1px solid rgb(82, 82, 82);
		background-color: white;

		img {
			width: 40px;
			height: 40px;
		}

		p {
			font-family: "TTFirsNeue-Regular";
			font-weight: 600;
		}

		span {
			font-family: 'TTFirsNeue-Light';
			font-weight: 200;
			color: gray;
		}
	}

	&__btn {
		background-color: black;
		padding: 4px 10px;
		color: white;
		border-radius: 5px;
		font-family: "TTFirsNeue-Regular";
		border: none;
		outline: none;
		cursor: pointer;
	}

	&__subtitle {
		font-size: 24px;
		margin-bottom: 20px;
		font-family: "TTFirsNeue-Regular";
	}

	&__referals {
		font-family: "TTFirsNeue-Regular";
		display: flex;
		align-items: flex-start;
		justify-content: center;
		gap: 20px;
		margin-bottom: 10px;

		@media(max-width: 600px) {
			flex-direction: column;
			align-items: center;
			gap: 10px;
		}
	}

	&__referal {
		display: flex;
		flex-direction: column;
		gap: 10px;
		align-items: center;
	}

	&__box {
		padding: 20px;
		background-color: white;
		border-radius: 10px;
		width: 90%;
		display: flex;
		align-items: center;
		justify-content: center;
		height: 80px;

		@media(max-width: 600px) {
			width: 200px;
		}

		span {
			font-family: "TTFirsNeue-Regular";
			font-weight: 600;
			font-size: 24px;
		}
	}
}