.partnership {
	width: 700px;
	margin: 0 auto;
	font-family: "TTFirsNeue-Light";
    white-space: normal;
    font-size: 20px;
    color: black;
	img {
		width: 100%;
	}
	&__open_line {
		margin-bottom: 10px;
	}
	h2 {
		margin-bottom: 30px;
	}
	&__bold {
		font-size: 24px;
		font-weight: bold;
	}
}