.partnership {
	width: 700px;
	margin: 0 auto;
	font-family: "TTFirsNeue-Light";
    white-space: normal;
    font-size: 20px;
    color: black;
	@media (max-width: 750px) {
		width: 100%;
		padding: 0 20px;
	}
	@media (max-width: 480px) {
		font-size: 15px;
	}
	img {
		width: 100%;
	}
	&__open_line {
		margin-bottom: 10px;
	}
	h2 {
		margin-bottom: 30px;
	}
	&__bold {
		font-size: 24px;
		font-weight: bold;
		@media (max-width: 480px) {
			font-size: 18px;
		}
	}
	&__box {
		display: flex;
		align-items: flex-start;
		justify-content: flex-start;
		gap: 20px;
		overflow-x: scroll;
		padding: 0 30px;
		margin-bottom: 40px;
		@media (max-width: 600px) {
			gap: 5px;
			padding: 0 5px;
			margin-left: -18px;
			margin-right: -18px;
		}
	}
}

.item {
	flex-shrink: 0;
	margin-bottom: 5px;
	@media (max-width: 500px) {
		margin-bottom: 10px;
	}
	
	video {
		width: 500px;
		height: 300px;

		@media (max-width: 500px) {
			width: 350px;
			height: 200px;
		}
		@media (max-width: 350px) {
			width: 300px;
			height: 200px;
		}
	}

	&__info {
		display: flex;
		flex-direction: column;
		gap: 5px;
		font-family: "TTFirsNeue-Light";
		width: 450px;
		@media (max-width: 500px) {
			width: 300px;
		}
		@media (max-width: 350px) {
			width: 250px;
		}
	}
	&__howToLook {
		font-size: 14px;
		color: gray;
	}
}