.item{
    width: 1000px;
    border-radius: 30px;
    background-color: #EDEDED;
    display: flex;
    padding: 30px;
    padding-bottom: 14px;
    gap: 60px;
    &__title{
        font-family: 'TTFirsNeue-DemiBold';
        font-size: 25px;       
        margin-bottom: 14px; 
    }
    &__tags{
        display: flex;
        align-items: center;
        gap: 20px;
    }
    &__tag{
        font-size: 20px;
        font-family: 'TTFirsNeue-Medium';
        background-color: white;
        border-radius: 112px;
        padding: 11px 15px;
    }
    &__info{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(50px, 90px));
        gap: 90px;
        row-gap: 20px;
    }
    &__detail{
        padding-top: 85px;
        padding-bottom: 16px;
    }
    &__subtitle{
        font-family: 'TTFirsNeue-Medium';
        font-size: 20px;
        color: #686868;
        white-space: nowrap;
        font-weight: normal;
    }
    &__text{
        font-family: 'TTFirsNeue-Medium';
        font-size: 20px;
        color: #000000;
        white-space: nowrap;
    }
    &__dowload{
        text-decoration: underline;
    }
    &__cost{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        gap: 14px;
        
    }
    &__price{
        font-size: 24px;
        margin-left: 10px;
        font-family: 'TTFirsNeue-Light';       
        & span{
            font-family: 'TTFirsNeue-Bold';
        } 
    }
    &__btn{
        background-color: black;
        padding: 20px 80px;
        color: white;
        border-radius: 5px;
        font-family: 'TTFirsNeue-Regular';
        font-size: 18px;
        border: none;
        outline: none;
        transition: 0.25s;
        cursor: pointer;  
        &:hover{
            background-color: #212121;
        }      
    }
}
@media (max-width: 1100px) {
    .item{
        flex-direction: column;
        width: 90%;
        gap: 32px;
        &__btn{
            margin-right: auto;
        }
        &__detail{
            padding-bottom: 0;
        }
        &__cost{
            align-items: flex-start;
        }
        &__price{
            margin: 0;
        }
        &__info{
            grid-template-columns: repeat(auto-fit, minmax(80px, 140px));
            gap: 20px;
            row-gap: 10px;
        }
    }
   
}

@media (max-width: 850px) {
    .item{
        &__info{
            grid-template-columns: repeat(auto-fit, minmax(61px, 110px));
            gap: 44px;
            row-gap: 10px;
        }
    }
}
@media (max-width: 720px) {
    .item{
        gap: 19px;
        padding: 14px 21px 19px 21px;
        &__title{
            font-size: 18px;
        }
        &__tag{
            font-size: 16px;
            padding: 5px 7px;
        }
        &__subtitle{
            font-size: 16px;
        }
        &__text{
            font-size: 16px;
        }
        &__price{
            font-size: 16px;
        }
        &__btn{
            padding: 14px 57px;
        }
        &__detail{
            padding-top: 0;
        }
        &__info{
            padding-top: 50px;
            grid-template-columns: repeat(auto-fit, minmax(61px, 110px));
        gap: 5px;
        row-gap: 10px;
        }
    }
}
@media (max-width: 540px) {
    .item{
        &__title{
            text-align: center;
        }
        &__tags{
            gap: 5px;
            flex-wrap: wrap;
            justify-content: center;
        }
        &__info{
            justify-content: space-around;
        }
        &__cost{
            align-items: center;
        }
        &__btn{
            margin-left: auto;
        }
    }
}
@media (max-width: 350px) {
    .item__info{
        padding-top: 36px;
    }
}