.pageNotFound {

	&__wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	&__title {
		font-size: 100px;
		color: #fcc63b;
		margin-bottom: 20px;
		font-family: "TTFirsNeue-Medium";
	}

	&__content {
		display: flex;
		align-items: center;
		margin-bottom: 40px;
	}

	&__subtitle {
		font-size: 24px;
		font-family: "TTFirsNeue-Light";
	}

	&__btn {
		text-align: center;
		display: block;
		color: white;
		width: 200px;
		background-color: #fcc63b;
		font-family: "TTFirsNeue-Light";
		font-size: 20px;
		padding: 10px 30px;
		cursor: pointer;
		transition: 0.25s;
		border-radius: 5px;
		border: none;
	}
}